/*////  Global Layout Set-Up  ////*/
    * {
        font-family: 'Merriweather Sans', sans-serif;
        /*margin: auto, 0;*/
        box-sizing: border-box;
    }
    body  {
        background-color: #74AFAD;
		  }
		  
    p      {  
        font-weight: bolder;
          }
    legend {
        font-weight: 900;
    }

/*/////  Head of Page  ///////*/
#head  {
        text-align: center;
        width: 100%;
        padding: 50px;
        background-color: #558C89;
        color: white;
        }

/*//// Thick & Thin Line in Head of Page ////*/
        #thick-border {
        border-bottom: solid 4px #558C89;
        }
        #thin-border {
        border-bottom: solid 3px #558C89;
        padding-top: 1%;
        }
        #thin-border-2 {
            border-bottom: solid 3px #558C89;
            padding-top: 10%;
            margin-bottom: 2%;
            }
        #signup {
        text-align: center;
        } 

/*//// Input Fields ////*/
    fieldset {
        background-color: #ECECEA;
        padding: 2px;
    }

    input {
        padding: 10px;
        width: 100%;
        border-radius: 10px;
    }
    input:hover {
        transition: all .8s;
        border: black solid 2px;
        background-color: rgb(250, 255, 189);
    }
    #state {
        padding: 10px;
        border-radius: 10px;
        width: 100%;
        background-color: white;
    }
    #state:hover {
        transition: all .8s;
        border: black solid 2px;
        background-color: rgb(250, 255, 189);
    }
    #zipcode {
        width: 70%;
        padding: 10px;
        border-radius: 10px;
    }
    .name input {
        margin-left: -25%;
    }
    .email input {
        margin-left: 45px;
    }
    .phone input {
        margin-left: 39px;
    }
    .address input {
        margin-left: 43px;
    }
    .city input {
        margin-left: 50px;
        display: inline;

    }
    .state select {
        margin-left: 115px;
    }
    #zipcode input {
        margin-left: 60px;
    }
    select {
        background-color: #e1e5e8;
    }
    select:focus {
        background-color: white;
        transition: all .8s;
    }

/*//// Checkboxes ////*/
    .html {
        display: block;
        padding-bottom: 5px;
    }
    .css {
        display: block;
        padding-bottom: 5px;
    }
    .javascript {
        display: block;
    }

/*//// Radio Buttons ////*/
    .radio1 {
        display: block;
        padding-bottom: 5px;
    }
    .radio2 {
        display: block;
    }
    #topics {
        margin-bottom: 8px;
    }

    
    
   

/*//// Textarea ////*/
    #topics {
        margin-bottom: 8px;
    }
    textarea {
        background-color: white;
    }
    textarea:focus {
        transition: all .8s;
        border: black solid 2px;
        background-color: white;
    }
    textarea:hover {
        transition: all .8s;
        border: black solid 2px;
        background-color: rgb(250, 255, 189);
        padding-bottom: 0px;
    }

    /*//// Submit Button at Bottom of Page ////*/
    #submit {
        font-weight: bold;
        border-radius: 10px;
        border: solid 1px #da7c0c;
        width: 100%;
        padding: 5%;
        background-color: #f78d1d;
        background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
        color: #fef4e9;
    }
    #submit:hover {
        transform: scale(1.01);
    }
    

    /*//// Footer ////*/
    .footer {
        text-align: center;
        color: lightgrey;
    }
    input:focus {
        background-color: white;
        transition: all .8s;
    }
    
@media (min-width: 768px) {
        
 /*//// Global Layout ////*/       
    *    {
        font-family: 'Merriweather Sans', sans-serif;
    }
    .paragraph p {
        display: inline-block;
    }
    legend {
        margin: 25px;
    }
        
/*//// Head ////*/
    #head {
        text-align: center;
        width: 100%;
        padding: 50px;
        background-color:#558C89;
        color: white;
    }

/*//// Thick & Thin Line in Head of Page ////*/
    #thick-border {
        border-bottom: solid 4px #558C89;
    }
    #thin-border {
        border-bottom: solid 3px #558C89;
        padding-top: 1%;
        margin-bottom: 20px;
        padding-top: 5px;
    }
    #thin-border-2 {
        border-bottom: solid 3px #558C89;
        padding-top: 1%;
        }

/*//// Input Fields ////*/
        fieldset {
            margin-right: 20%;
            margin-left: 20%;
        }  
        input {
            cursor: pointer;
            border-radius: 5px;
            display: inline-block;
            width: 66%;
            margin-left: 25%;
        }
        input:hover {
            border-radius: 5px;
        }
        #state {
            display: inline-block;
            width: 66%;
        }
        select {
            cursor: pointer;
        }
        #zipcode {
            display: inline;
            width: 30%;
            margin-left: -10px;
            padding: 10px;
            margin-bottom: 12px;
            padding-left: 5%;
        }
        .name input {
            margin-left: 75px;
        }
        .email input {
            margin-left: 44px;
        }
        .phone input {
            margin-left: 39px;
        }
        .address input {
            margin-left: 43px;
        }
        .city input {
            margin-left: 125px;
        }
        .state select {
            margin-left: 115px;
        }
        #zipcode input {
            margin-left: 60px;
        }
        #zipcode p {
            margin-right: 85px;
            
        }
        .space input {
            margin-left: 35px;
        }

/*//// Checkboxes ////*/
.html {
    display: block;
    padding-bottom: 5px;
    /*display: flex;
    align-items: center;*/
}
.css {
    display: block;
    padding-bottom: 5px;
}
.javascript {
    display: block;
}

/*//// Radio Buttons ////*/
.radio1 {
    display: inline;
    padding-bottom: 5px;
}
.radio2 {
    display: block;
}
#topics {
    margin-bottom: 8px;
}

/*//// Textarea ////*/
        textarea {
            cursor: pointer;
            margin-bottom: 10px;
            width: 100%;
            border-radius: 5px;
        }
        textarea:focus {
            background-color: white;
        }
     
/*//// Submit Button at Bottom of Page ////*/
      #signup {
        text-align: center;
      } 
      #submit {
        height: 65px;
        font-weight: 900;
        font-size: 175%;
        padding-bottom: 8%;
      }

    }