    * {
        font-family: 'Merriweather Sans', sans-serif;
        margin: auto, 0;
        box-sizing: border-box;
    }
    #head {
        text-align: center;
        width: 100%;
        padding: 50px;
        background-color: #558C89;
        color: white;
        }
        #thick-border {
        border-bottom: solid 4px #558C89;
        /*margin-right: 25%;*/
        /*margin-left: 25%;*/
        }
        #thin-border {
        border-bottom: solid 3px #558C89;
        /*margin-right: 33%;*/
        /*margin-left: 33%;*/
        padding-top: 1%;
        }
        #signup {
        text-align: center;
        } 

body { /*background-color: #e1e5e8;*/
        /*sbackground-color: rgb(247, 244, 244);*/
        background-color: #74AFAD;
		  }
		  
    p      {  font-weight: bolder;
          }
          
    fieldset {
        /*border: double;*/
        /*background-color: #e1e5e8;
        margin-top: 10px;*/
        background-color: #ECECEA;
        padding: 2px;
    }

    input {
        box-shadow: inset 0 0 2px #777777;
        background-color: #e1e5e8;
        padding: 2px;
    }
    input:hover {
        transition: all .8s;
        border: black solid 3px;
    }
    #state {
        padding: 2px;
    }
    #state:hover {
        transition: all .8s;
        border: black solid 3px;
    }
    #zip {
        width: 50%;
        padding: 2px;
    }
    .html {
        display: block;
        padding-bottom: 5px;
    }
    .css {
        display: block;
        padding-bottom: 5px;
    }
    .javascript {
        display: block;
    }
    .radio1 {
        display: block;
        padding-bottom: 5px;
    }
    .radio2 {
        display: block;
    }
    #topics {
        margin-bottom: 8px;
    }
    #submit {
        font-weight: bold;
        border-radius: 10px;
        width: 100%;
        padding: 5%;
        background-color: #D9853B;
        /*border: rgba(255, 162, 0, 0.932);*/
        border: none;
    }
    #submit:hover {
        transform: scale(1.01);
    }
    .footer {
        text-align: center;
        color: lightgrey;
    }
    input:focus {
        background-color: white;
        transition: all .8s;
    }
    textarea {
        box-shadow: inset 0 0 2px #777777;
        background-color: #e1e5e8;
    }
    textarea:focus {
        background-color: white;
        transition: all .8s;
    }
    select {
        box-shadow: inset 0 0 2px #777777;
        background-color: #e1e5e8;
    }
    select:focus {
        background-color: white;
        transition: all .8s;
    }
    @media (min-width: 768px) {
        *    {
        font-family: 'Merriweather Sans', sans-serif;
        }
        /*input {
            box-shadow: inset 0 0 2px #777777;
            background-color: #e1e5e8;
        }*/
        .paragraph p {
            display: inline-block;
        }

        
    
         

        input {
            cursor: pointer;
        }
        textarea {
            cursor: pointer;
        }
        select {
            cursor: pointer;
        }
        #head {
        text-align: center;
        width: 100%;
        padding: 50px;
        background-color:#558C89;
        color: white;
        }
        #thick-border {
        border-bottom: solid 4px #558C89;
        /*margin-right: 25%;*/
        /*margin-left: 25%;*/
        }
        #thin-border {
        border-bottom: solid 3px #558C89;
        /*margin-right: 33%;*/
        /*margin-left: 33%;*/
        padding-top: 1%;
        margin-bottom: 20px;
        }
        #signup {
        text-align: center;
        } 
        body {
        /*background-color: rgb(86, 86, 109);*/
      }
    }